.p__container{
    width: 100vw;
    height: 100vh;
    background-color: $primary;
    display:flex;
    justify-content: center;
    align-items: center;
}

.p__box{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.p__box-c{
    width: 100%;
}

.p__box-1{
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    .p__box-1-c{
        width: 98%;
        height: 90%;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        >h2{
            font-family:'Josefin Sans';
        }
        >h3{
            font-family: 'Oswald';
            font-size: 12px;
            letter-spacing: 0.3rem;
        }

    }
}

.p__box-2{
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    .p__box-2-c{
        background-color: $secundary;
        width: 100%;
        height: 90%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .p__search{
            width: 95%;
            height: 80%;
            display: flex;
            flex-direction: row;
            .p__search-1{
                width: 10%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $blue;
                font-size: 20px;
            }
            .p__search-2{
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: row;
                .p__search-2-input{
                    width: 80%;
                    height: 100%;
                    input{
                        background-color:transparent;
                        border: none;
                        width: 100%;
                        height: 100%;
                        color:$white !important;
                        font-size: 15px;
                        &::placeholder{
                            color: darken($color: white, $amount: 20) !important;
                            font-family: 'Tauri';
                            font-weight: 100 !important;
                        }
                        &:focus{
                            outline:none;
                        }
                    }
                }
                .p__search-2-btn{
                    width: 20%;
                    height: 100%;
                    button{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.p__box-3{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    .p__box-3-c{
        background-color: $secundary;
        width: 100%;
        height: 90%;
        border-radius: 20px;
    }
}